body {
    color: rgb(56, 56, 56);
    max-width: 100%;
    background-color: #ffdcdc !important;
    background-image: url('https://akshit-sarin.s3.ap-south-1.amazonaws.com/bg-layers.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Quicksand', sans-serif;
    background-attachment: fixed;
}

.container {
    margin-top: 2em;
    margin-bottom: 3em;
    width: 94%;
}

#profile_img {
    display: block;
    width: 82%;
    height: auto;
    min-width: 180px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2em;
}

#interests {
    color: #CF474A;
    font-style: italic;
    font-size: 3.4vmin;
    letter-spacing: 2px;
}

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em !important;
}

a {
    text-decoration: none !important;
    color: rgb(170, 170, 170)
}

a:hover {
    color: rgb(131, 131, 131)
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.8em;
    background-color: rgb(32, 32, 32);
    color: rgb(161, 161, 161);
    text-align: center;
}

.h_f_text {
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    font-weight: lighter;
}

.socials-col {
    text-align: center;
}

.socials {
    color: rgb(34, 34, 34) !important;
}

.socials:hover {
    color: rgb(70, 70, 70) !important;
}

.container {

  animation: fadeIn 3s;

  -webkit-animation: fadeIn 3s;

  -moz-animation: fadeIn 3s;

  -o-animation: fadeIn 3s;

  -ms-animation: fadeIn 3s;

}

@keyframes fadeIn {

  0% {opacity:0;}

  100% {opacity:1;}

}

@-moz-keyframes fadeIn {

  0% {opacity:0;}

  100% {opacity:1;}

}

@-webkit-keyframes fadeIn {

  0% {opacity:0;}

  100% {opacity:1;}

}

@-o-keyframes fadeIn {

  0% {opacity:0;}

  100% {opacity:1;}

}

@-ms-keyframes fadeIn {

  0% {opacity:0;}

  100% {opacity:1;}

}
